@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    @apply box-border overflow-hidden;
  }
}

@layer components {

  .hide--clients {
    animation: change-height 1s ;
    opacity: 0 !important;
    transition: all 0.7s !important; 
    height:0;
    /* @apply opacity-0 duration-700 pointer-events-none; */
  }
  .cardTest{
    transition:0.7s!important;
  }
  .show--clients {
    @apply opacity-100 duration-700;
  }

  .selected--client {
    background-color: beige;
    transition: all!important;
  }

  .height-animation {
    animation: change-height 0.7s ease-in;
  }

  @keyframes change-height {
    0% {
      height: 80px;
    }

    100% {
      height: 0;
    }

  }

  @keyframes go-to-top {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-100%);
    }
  }
}